/* Yleinen/etusivu alkaa */
body /* sivun yleisien elementtejen määritys */
{
    background-color: white;
    color: #ffffff;
    line-height: 1.5;
    background-image: url(pics/background.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.701);
    background-blend-mode: overlay;
    font-family: Josefin Sans;
    padding-top: 20px;
    padding-bottom: 40px;
}

.teksti /* tyhjien alueiden läpinäkyvyys */
{
    color: rgba(255, 255, 255, 0);
}

.desktopartikkeli /* index.html sisällön määritys */
{
    padding-left: 75px;
}

.desktopartikkelisvenska /* svenska.html määritykset */
{
    padding-left: 70px;
    padding-bottom: 300px;
    padding-top: 30px;
}

.artikkeliyhteys /* ota_yhteytta.html, tietoameistä.html määritykset */
{
    padding-left: 70px;
}

h2 /* H2 otsikoiden määritys */
{
    font-weight: 350;
}


/* Desktop navbar alkaa */

.navbar {
    color: rgb(255, 255, 255) !important;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: transparent !important;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: 100%;
}

.navbar-collapse {
    background: transparent !important; 
}

.dropdown-menu {
    background-color: rgb(13, 69, 125); 
}

.navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
    padding: 0.25rem;
    margin-right: 1rem;
    font-weight: 350;
}

.navbar-brand {
    color: rgb(255, 255, 255) !important;
}

.dropdown-menu .dropdown-item  {
    color: rgb(255, 255, 255) !important;
}

.dropdown-menu .dropdown-item:hover {
    color: rgb(0, 0, 0) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Desktop navbar loppuu */

.title {
    display: flex;
    align-items: center;
}
  
.pc_image {
    max-width: 20%;
    height: auto;
}
  
.text-content {
    max-width: 50%;
}

.nimi {
    display: none;
}

.desktopnimi
{
    font-size: 25px;
    padding-right: 50px;
    font-weight: 450;
    padding-top: 8px;
}

.genericpadding
{
    padding-bottom: 100px;
}

.desktopsearchbutton:hover
{
    background-color: rgba(0, 0, 0, 0.247) !important;
    border-color: rgb(0, 0, 0) !important;
}

.desktopsearchbutton
{
    border-color: rgba(255, 255, 255, 0.185) !important;
    background-color: rgba(255, 255, 255, 0.185) !important;
}

/* Poistetaan mobiilinäkymän elementit */

.mobilelogo, .mobilefooter, .mobileheadericons, .mobileartikkeli, .mobilenimi, .mobilesearch, .mobilesearchbutton .mobileheadericons, .mobilepcpic, .mobileartikkelisvenska, .mobileartikkeliyhteys {
    display: none;
}
  
/* Yleinen/etusivu loppu */

/* Ota Yhteyttä */


form {
    display: flex;
    flex-direction: column; /* Kentät päällekkäin */
    gap: 5px; /* Väli kenttien välillä */
}

label {
    display: inline-block;
    width: 100%;
}

input, textarea {
    width: 100%;
    border-radius: 8px;
    padding: 8px;
}

input[type="submit"] {
    width: 150px; /* Aseta painikkeen leveys pienemmäksi */
    height: 40px; /* Aseta painikkeen korkeus pienemmäksi */
    padding: 8px 16px; /* Vähennä padding-arvoja, jotta painike on pienempi */
    font-size: 14px; /* Pienennä fonttikokoa */
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: rgb(150, 149, 149);
}

/* Ota Yhteyttä päättyy tähän */

/* Tietoa Meistä alkaa tästä */

/* Marginaali kortteihin, jotta ne eivät mene päällekkäin */
.row .col-md-4 {
    margin-bottom: 15px; /* Väli korttien alle */
  }
  
  /* Korttien leveys on aina yhtä suuri */
  .card {
    max-width: 100%;
  }

  /* Painikkeen tyylien muokkaus */
.btn-primary {
    background-color: rgb(13, 69, 125); /* Painikkeen väri */
    border: none; /* Poistaa kehykset */
    border-radius: 5px; /* Pyöristää kulmat */
    padding: 15px 30px; /* Lisää paddingia painikkeelle */
    font-size: 16px; /* Tekstin koko */
  }
  
  .btn-primary:hover {
    background-color: #9d9d9d; /* Väri, kun painiketta viedään hiirellä */
  }
  
  img {
    height: auto;
  }

  .mobileheadericons img {
    height: auto;
    width: 25px; 
  }
/* Tietoa Meistä loppuu tähän */

/* Mobiili optimointi */

@media (max-width: 767.98px) {

    .text-content {
        max-width: fit-content;
        padding: 0 15px;
    }
    .artikkeli {
        flex-direction: column;
        justify-content: start;
        height: auto;
        padding-left: 0;
    }
    
    /* Mobiilinäkymän navbari alkaa */
    
    .navbar {
        background: transparent !important;
        border-radius: 15px;
        padding: 5px;
        top: 0;
        z-index: 1000;
        padding-bottom: 15px;
    
    }
    
    .dropdown-menu {
        background-color: rgba(255, 255, 255, 0.24); 
    }
    
    .navbar-nav .nav-link {
        font-size: 14px;
        padding: 0.5rem;
    }
    
    /* Mobiilinäkymän navbari loppuu */
    
    /* Poistetaan desktop näkymän elementit */
    
    .desktopfooter, .desktopartikkeli, .desktopnimi, .desktopsearch, .desktopsearchbutton, .desktopheadericons, .desktoppcpic, .desktopartikkelisvenska, .desktopartikkeliyhteys
    {
        display: none !important;
    }
    
    .desktopheadericons, .desktopsearch {
        display: none;
        padding-left: 10px;
    }
    
    .pc_image {
        display: none;
    }
    
    .logo {
        display: none;
    }
    
    /* Otetaan mobiili näkymän elementit käyttöön*/
    
    .mobileartikkeli
    {
        display: flex;
    }
    
    .mobileartikkelisvenska
    {
        display: flex;
        padding-bottom: 200px;
    }

    .desktopartikkelituotteet
    {
        padding-left: 0px !important;
    }
    
    .desktopartikkelituotteetyleinen
    {
        padding-left: 80px !important;
    }
    
    .artikkeliyhteys
    {
        display: block;
        padding-bottom: 200px !important;
        padding-left: 0px !important;
    }
    
    .mobilesearch
    {
        display: flex;
        padding-left: 7px;
        padding-bottom: 5px;
    }
    
    .mobilepcpic
    {
        display: flex;
        padding-left: 50px;
    }
    
    .mobilenimi
    {
        display: flex;
        padding-top: 10px;
    }
    
    .mobileheadericons {
        display: flex;
        padding-left: 10px;
    }
    
    .mobilesearchbutton:hover
    {
        display: flex;
        background-color: rgba(0, 0, 0, 0.247) !important;
        border-color: rgb(0, 0, 0) !important;
    }
    
    .mobilesearchbutton
    {
        display: flex;
        border-color: rgba(255, 255, 255, 0.185) !important;
        background-color: rgba(255, 255, 255, 0.185) !important;
    }
    
    .mobilelogo{
        display: flex;
        padding: 10px;
    }
    
    .artikkeliyhteys
    {
        display: block;
        padding-left: 80px;
    }
    
    /* Mobiilinäkymän footer */
    
    .mobilefooter {
        font-size: 16px;
        display: flex;
    }
    
    .mobilefooter1 /* Vasemmanpuolinen footer */
    {
        padding-left: 10px;
    }
    
    .mobilefooter2 /* Oikeanpuolinen footer */
    {
        padding-left: 40px;
    }
    
    /* footer loppuu */
    
    /* tuotteet */
    
    .custom-btn {
        max-width: 100%; /* Täysi leveys pienillä näytöillä */
        padding: 10px 20px;
      }
    
    /* tuotteet loppuu */
    
    } /* Mobiili optimointi loppuu */