/* Etusivu alku */
body
{
    background-color: white;
    color: #ffffff;
    line-height: 1.5;
    background-image: url(pics/background.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.701);
    background-blend-mode: overlay;
    font-family: Josefin Sans;
    padding-top: 20px;
    padding-bottom: 40px;
}

.teksti
{
    color: rgba(255, 255, 255, 0);
}

.desktopartikkeli
{
    padding-left: 75px;
}

.desktopartikkelisvenska
{
    padding-left: 30px;
}

.desktopartikkeliyhteys
{
    padding-left: 80px;
}

h2
{
    font-weight: 350;
}

.bg
{
    color: rgb(0, 0, 139);
}

.navbar {
    color: rgb(255, 255, 255) !important;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: transparent !important;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: 100%;
}

.navbar-collapse {
    background: transparent !important; 
}

.dropdown-menu {
    background-color: rgb(46, 0, 82); 
}

.navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
    padding: 0.25rem;
    margin-right: 1rem;
    font-weight: 350;
}

.navbar-brand {
    color: rgb(255, 255, 255) !important;
}

.dropdown-menu .dropdown-item  {
    color: rgb(255, 255, 255) !important;
}

.dropdown-menu .dropdown-item:hover {
    color: rgb(0, 0, 0) !important;
}

/* Viivat navigaatioon 
.navbar-nav .nav-item:not(:last-child) {
    border-right: 1.5px solid rgba(255, 255, 255, 0.317);
    padding-right: 1px;
}
*/

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.title {
    display: flex;
    align-items: center;
}
  
.pc_image {
    max-width: 20%;
    height: auto;
}
  
.text-content {
    max-width: 50%;
}

.nimi {
    display: none;
}

.mobilelogo, .mobilefooter, .mobileheadericons, .mobileartikkeli, .mobilenimi {
    display: none;
}

.desktopnimi
{
    font-size: 25px;
    padding-right: 50px;
    font-weight: 450;
    padding-top: 8px;
}


.paddingtest
{
    padding-bottom: 100px;
}
  
/* Etusivu loppu */

/* Mobiili optimointi */

@media (max-width: 767.98px) {
.navbar-nav .nav-link {
    font-size: 14px; /* Smaller font size for mobile */
    padding: 0.5rem; /* Adjust padding for better spacing */
}

.text-content {
    max-width: fit-content; /* Full width for text content on mobile */
    padding: 0 15px; /* Add some padding for better readability */
}
.artikkeli {
    flex-direction: column;
        justify-content: start;
        height: auto;
        padding-left: 0;
}

.pc_image {
    display: none;
}

.logo {
    display: none;
}

.mobilelogo,.mobilenimi{
    display: flex;
    padding: 10px;
}

.navbar {
    background: transparent !important;
    border-radius: 15px;
    padding: 5px;
    top: 0;
    z-index: 1000;
    padding-bottom: 15px;

}

.desktopheadericons, .desktopsearch {
    display: none;
    padding-left: 10px;
}

.mobileheadericons {
    display: flex;
    padding-left: 10px;
}

/* footer */

.mobilefooter {
    font-size: 16px; /* Smaller font size for mobile */
    display: flex;
}

.mobilefooter1
{
    padding-left: 10px;
}

.mobilefooter2
{
    padding-left: 50px;
}

.desktopfooter, .desktopartikkeli, .desktopnimi
{
    display: none;
}

.mobileartikkeli
{
    display: flex;
}

.mobilepcpic
{
    display: flex;
    padding-left: 50px;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.24); 
}

/* footer loppuu */

/* tuotteet */

.custom-btn {
    max-width: 100%; /* Täysi leveys pienillä näytöillä */
    padding: 10px 20px;
  }

/* tuotteet loppuu */
}

/* Mobiili optimointi loppuu */

/* Ota Yhteyttä */


form {
    display: flex;
    flex-direction: column; /* Kentät päällekkäin */
    gap: 5px; /* Väli kenttien välillä */
}

label {
    display: inline-block;
    width: 100%;
}

input, textarea {
    width: 100%;
    border-radius: 8px;
    padding: 8px;
}

input[type="submit"] {
    width: 150px; /* Aseta painikkeen leveys pienemmäksi */
    height: 40px; /* Aseta painikkeen korkeus pienemmäksi */
    padding: 8px 16px; /* Vähennä padding-arvoja, jotta painike on pienempi */
    font-size: 14px; /* Pienennä fonttikokoa */
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: rgb(150, 149, 149);
}

/* Ota Yhteyttä päättyy tähän */

/* Tietoa Meistä alkaa tästä */

/* Marginaali kortteihin, jotta ne eivät mene päällekkäin */
.row .col-md-4 {
    margin-bottom: 15px; /* Väli korttien alle */
  }
  
  /* Korttien leveys on aina yhtä suuri */
  .card {
    max-width: 100%;
  }

